.content{
    a{color:#4086EF;}
    &__index{
        h2{
            margin-top: 40px;
            margin-bottom: 10px;
        }
        text-align: center;
        div{
            width: 60%;
            margin: auto;
        }
    }
    &__courses{
        .content{
            width: 80%;
            margin: auto;
        }
        .course{
            text-align: center;
            margin-top: 20px;
            &__button{
                padding-top: 10px;
                padding-bottom: 10px;
                background: black;
                color: white;
                width: 120px;
                text-align: center;
                margin: auto;
                border: 1px solid black;
                transition: all 300ms;
                a{
                    color: white;
                }
                &:hover{
                    background: white;
                    a{
                        color: black;
                    }
                }
            }
        }
        .courses{
            &__block{
                margin-top: 30px;
                img{
                    margin-bottom: 10px;
                }
            }
        }
    }
}