.header{
    background-color: rgba(229, 229, 229, 0.5);;
    ul{
        width: 60%;
        margin: auto;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    li{
        font-size: 12px;
        display: inline;
        padding-left: 10px;
        padding-right: 10px;
    }
}