.sign{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    padding: 20px 20px 20px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: none;
    &__title{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    &__submit{
        width: 120px;
        margin-top: 10px;
        color: white;
        background-color: black;
        padding-top: 5px;
        padding-bottom: 5px;
        transition: all 1000ms;
        cursor: pointer;
        &:hover{
            background-color: white;
            color: black;
            box-shadow: none;
        }
    }
    &__input{
        margin-bottom: 10px;
        width: 250px;
    }
}